<!DOCTYPE html>
html
	head
		link(rel="stylesheet", href="css/main.css")
		script(src="js/main.js")
		meta(charset="utf-8")
		

		block title
			title FrontCoder - First site!
	
	body

		.wrapper
			.top_slider

				#slides
					.slide.showing
						.description
							h3 Iphone 7
							span
								span The moment you use 
								span(style="color: yellow") iPhone 7
								span , you know you never felt anything like it.
							.bttns
								.shop_bttn
									|Shop now
								.more_bttn
									a(href="/banner.php?id=1") learn more

					.slide 
						.description
							h3 Samsung S7 Edge
							span
								span The moment you use 
								span(style="color: yellow") Samsung S7 Edge
								span , you know you never felt anything like it.
							.bttns
								.shop_bttn
									|Shop now
								.more_bttn
									a(href="/banner.php?id=2") learn more
					.slide 
						.description
							h3 HTC One
							span
								span The moment you use 
								span(style="color: yellow") HTC One
								span , you know you never felt anything like it.
							.bttns
								.shop_bttn
									|Shop now
								.more_bttn
									a(href="/banner.php?id=3") learn more
					.slide 
						.description
							h3 LG G6
							span
								span The moment you use 
								span(style="color: yellow") LG G6
								span , you know you never felt anything like it.
							.bttns
								.shop_bttn
									|Shop now
								.more_bttn
									a(href="/banner.php?id=4") learn more
					.slide 
						.description
							h3 Google Pixel
							span
								span The moment you use 
								span(style="color: yellow") Google Pixel
								span , you know you never felt anything like it.
							.bttns
								.shop_bttn
									|Shop now
								.more_bttn
									a(href="/banner.php?id=5") learn more
					

				.line
				.menu
					.logo
						.rocket 
						a(href="/index.php") RocketPhones
					.center
						a(href="/") Main
						a(href="#!") Shop
						a(href="#!") Support
						a(href="/contacts.php") Contacts
						

					.right_side
						a(href="/signin.php") Add Material
						.shop_cart

			
			block pagecontent

					
			.footer
				span by 
				span(style="color: #ffea12 ") Mustazhap  
				span  -- {c} -- 2017 for SDU Web Foundations
			